<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='loading_styles.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/icon.png') }}">
    <script type="module" src="{{ url_for('static', filename='buttons_script.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='home_script.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='plot_tab_script.js') }}"></script>
</head>

<body>
    <div class="home-page">
        <div class="top-bar-container">
            <div class='top-bar'>
                <div class="top-bar-title">
                    <a href="{{ url_for('home') }}" class="no-decoration">Active Statistics</a>
                </div>
                <div class="spacer"></div>
                <div class="top-bar-logout">
                    <a href="{{ url_for('logout') }}" class="no-decoration">Logout</a>
                </div>
            </div>
        </div>
        <div class="content-container">
            <div class="sidebar-container">
                <div id="download-data" class="step-container clicked" data-url="/download_data">
                    <div class="step-container-text">
                        Download Strava Data
                    </div>
                </div>
                <div class="hline"></div>
                {% for tab_name, tab_key, tab_endpoint, is_detailed in tabs %}
                {% if not is_detailed %}
                <div class="step-container greyed-out summary" data-url={{ tab_endpoint }} data-key={{ tab_key }}>
                    <div class="step-container-text">
                        {{ tab_name }}
                    </div>
                </div>
                {% endif %}
                {% endfor %}
                <div class="hline"></div>
                {% for tab_name, tab_key, tab_endpoint, is_detailed in tabs %}
                {% if is_detailed %}
                <div class="step-container greyed-out detailed" data-url={{ tab_endpoint }} data-key={{ tab_key }}>
                    <div class="step-container-text">
                        {{ tab_name }}
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            <div class="main-content-container">
                {{default_content | safe}}
            </div>
        </div>
    </div>
</body>

</html>
