<div class="explanation-container">
    {{ explanation }}
</div>
<div class="refresh-container">
    <div class="summary-log-container">
        <div class="summary-log-container-logs">
            <div id="summary-log-container-text" class="log-container-text">
                Results of the refresh summary data.
            </div>
        </div>
        <div class="refresh-button-container">
            <div id="summary-refresh-button" class="refresh-button greyed-out">
                <div class="refresh-button-text">
                    Refresh Summary Data
                </div>
            </div>
        </div>
    </div>
    <div class="detailed-log-container">
        <div class="detailed-log-container-logs">
            <div id="detailed-log-container-text" class="log-container-text">
                Results of the refresh detailed data.
            </div>
        </div>
        <div class="refresh-button-container">
            <div id="detailed-refresh-button" class="refresh-button greyed-out">
                <div class="refresh-button-text">
                    Refresh Detailed Data
                </div>
            </div>
        </div>
    </div>
</div>

</div>
<script type="module">
    import { add_event_to_summary_refresh_button } from "{{ url_for('static', filename='home_script.js') }}";
    import { add_event_to_detailed_refresh_button } from "{{ url_for('static', filename='home_script.js') }}";

    $(document).ready(function () {
        add_event_to_summary_refresh_button();
        add_event_to_detailed_refresh_button();
    });
</script>
