@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-text-color: black;
  --default-font-family: "Roboto";
}

body {
  color: var(--main-text-color);
  background: var(--green-10);
}

.hyperlink {
  @apply text-blue-700 underline
}

.hyperlink:visited {
  @apply text-purple-900
}

/* I stole these from stack overflow. It reformats the scrollbar to be pretty. */
::-webkit-scrollbar-thumb {
  background-color: #16a34a;
  border: 4px solid transparent;
  border-radius: 8px;
  background-clip: padding-box;
  width: 16px;
}

::-webkit-scrollbar {
  width: 16px;
}

.burger-menu {
  display: none;
  /* Hide the burger menu by default on desktop */
}

.side-menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #333;
  width: 0;
  overflow-x: hidden;
  transition: 0.3s;
}

.close-button {
  position: absolute;
  top: 20px;
  left: 10px;
  font-size: 30px;
  color: white;
}

/* Add media query for smaller screens */
@media (max-width: 768px) {
  .burger-menu {
    display: block;
    /* Show the burger menu on smaller screens */
  }

  .top-bar {
    justify-content: flex-end;
    /* Move the menu to the right on smaller screens */
  }
}
