:root {
    --main-text-color: black;
    --default-font-family: "Roboto";
    --black: black;
    --white: white;
    --green-900: #070E07;
    --green-800: #254521;
    --green-700: #315C2B;
    --green-600: #427D3B;
    --green-500: #509948;
    --green-400: #61B159;
    --green-300: #7ABE74;
    --green-200: #95CB90;
    --green-100: #AFD8AC;
    --green-50: #C9E5C8;
    --green-10: #E4F2E3;
}

body {
    margin: 0px;
    font-size: 16px;
}

.powered_by_strava_div {
    width: 200px;
    display: block;
    margin: 0 auto;
}

.home-page {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100vh;

    background: var(--green-10, #E4F2E3);
}

.top-bar-container {
    display: flex;
    height: 10%;
    padding: 10px 10px 0px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    align-self: stretch;
}

.top-bar {
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    align-self: stretch;

    border-radius: 10px;
    background: var(--green-500, #509948);
}

.top-bar img {
    max-height: 24px;
}

.top-bar-title {
    font-family: var(--default-font-family);
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;

    color: #FFFFFF;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

    cursor: pointer;
}

.top-bar-logout {
    font-family: var(--default-font-family);
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: right;

    color: #FFFFFF;

    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;

    cursor: pointer;
}

.content-container {
    display: flex;
    padding: 10px;
    align-items: flex-start;
    gap: 10px;
    flex: 1 0 0;
    align-self: stretch;
    min-height: 0;
    /* This is so vertical scrolling in the content container works. */
}

.sidebar-container {
    display: flex;
    width: 250px;
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;

    background: #7ABE74;
    border-radius: 10px;

    /* Makes scrolling work */
    overflow: auto;
}

.step-container {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;

    background: #95CB90;
    border-radius: 10px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

    cursor: pointer;
}

.step-container.greyed-out {
    cursor: not-allowed;
    --main-text-color: #909090;
}

.step-container.clicked {
    background-color: #508848;
}

.step-container-text {
    font-family: var(--default-font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    display: flex;
    align-items: center;

    color: var(--main-text-color);

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
}

.main-content-container {
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    align-self: stretch;

    border-radius: 10px;
    background: var(--white, #FFF);

    /* Makes scrolling work */
    overflow: auto;
}

/* I stole these from stack overflow. It reformats the scrollbar to be pretty. */
.main-content-container::-webkit-scrollbar-thumb,
.sidebar-container::-webkit-scrollbar-thumb {
    background-color: var(--green-500, #509948);
    border: 4px solid transparent;
    border-radius: 8px;
    background-clip: padding-box;
}

.main-content-container::-webkit-scrollbar,
.sidebar-container::-webkit-scrollbar {
    width: 16px;
}

.explanation-container {
    font-family: var(--default-font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
    gap: 10px;

    background: #E4F2E3;
    border-radius: 10px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.plot-container {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 10px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
}

.refresh-container {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    align-self: stretch;
}

.summary-log-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;

    border-radius: 10px;
    background: var(--green-10, #E4F2E3);
}

.summary-log-container-logs {
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;
}

.detailed-log-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;

    border-radius: 10px;
    background: var(--green-10, #E4F2E3);
}

.detailed-log-container-logs {
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;
}

.refresh-button-container {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    gap: 10px;

    border-radius: 10px;

    /* Inside auto layout */
    flex: none;
    align-self: stretch;
    flex-grow: 1;
}

.log-container-text {
    font-family: var(--default-font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    color: #000000;

    /* Inside auto layout */
    flex: none;
    align-self: stretch;
    flex-grow: 1;
}

.no-decoration {
    text-decoration: none;
    color: inherit;
}

.regular-text-component {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}

.title-font {
    color: var(--white);
    /* Title Font Style */
    font-size: 2em;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.regular-font {
    color: var(--black);
    /* Regular paragraph font style */
    font-size: 16px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.spacer {
    flex: 1 0 0;
    align-self: stretch;
}

.refresh-button-container {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    align-self: stretch;
}

.refresh-button {
    display: flex;
    width: 250px;
    height: 45px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    /* Style */
    border-radius: 10px;
    background: #95CB90;

    cursor: pointer;
}

.refresh-button-text {
    font-family: var(--default-font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--main-text-color);

    /* Inside auto layout */
    flex: none;
    align-self: stretch;
    flex-grow: 1;
}

.refresh-button.greyed-out {
    cursor: not-allowed;
    --main-text-color: #909090;
}

.hline {
    height: 2px;
    align-self: stretch;

    border-radius: 1px;
    background: var(--green-500, #509948);
}


table {
    font-family: "Roboto";
    border-radius: 10px;
    /* padding: 10px; */
    /* margin: 10px; */
    border-spacing: 10px;
    background-color: var(--green-300);
}

tr,
th,
td {
    background-color: var(--green-200);
    padding: 10px;
    border-radius: 10px;
}


tr:hover td,
tr:hover th {
    background-color: var(--green-500, #509948);
}