/* Set the height manually when it's absolute so that it looks good. */
/* I can't for the life of me figure out how to do this in regular tailwind. */

.custom_sidebar {
  height: calc(100% - 5rem);
}

.custom_behind_sidebar {
  height: calc(100% - 5rem);
  width: calc(100% - 2rem);
}

@media (min-width: 1024px) {
  .custom_sidebar {
    height: calc(100%);
  }
}
